/* Acá va tu código */
body {
    background-color: white;
    
    
}
header {
    padding: 0%;
    height: 75px;
}
.menu {
    height: 75px;
}
.logo {
    height: 64px;
}
.empieza {
    text-align: center;
    background: rgba(200, 54, 54, 0);
    color: white;
    height: 500px;
    padding-top: 16%;
}
.btn-empieza {
    margin-top: 3%;
    width: 16%;
    height: 25%;
    font-size: 29px;
}
#banner {
    background-image: url(./img/webcode.jpg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 100% 152%;
    width: 100%;
}
.cintillo {
    width: 100%;
    height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;    
}
#contenido {
      padding-top: 10%;
}
p {
    text-align: justify;     
    font-size: 16px;
    line-height: 1.4;
}
.Caesar {
    height: 130px;
}
.etiquetas {
    text-align: center;
    color: #100216;
}
.fondo-formulario {
    background-color: #e0e0e0a8;
    border-radius: 4%;
    padding-top: 4%;
}
.separacion-formulario {
    margin-top: 3%
}
i {
    padding-right: 10px;
    color: #009eba;

}
.icon-box {
    position: relative;
    margin-top: 20px;
    padding: 0 0 0 10px;
}
.icon-left {
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    top: 0;
    left: 0;
}
.icon-md {
    font-size:65px;
}
